/ about
#about.about
  .container
    .w3-about-grids
      .col-md-6.w3-about-left
        #main{:role => "main"}
          %section.slider
            #slider.flexslider
              %ul.slides
                %li
                  %img{:alt => "", :src => "images/5.jpg"}/
                %li
                  %img{:alt => "", :src => "images/6.jpg"}/
                %li
                  %img{:alt => "", :src => "images/7.jpg"}/
                %li
                  %img{:alt => "", :src => "images/8.jpg"}/
                %li
                  %img{:alt => "", :src => "images/9.jpg"}/
                %li
                  %img{:alt => "", :src => "images/10.jpg"}/
                %li
                  %img{:alt => "", :src => "images/5.jpg"}/
                %li
                  %img{:alt => "", :src => "images/6.jpg"}/
                %li
                  %img{:alt => "", :src => "images/7.jpg"}/
                %li
                  %img{:alt => "", :src => "images/8.jpg"}/
                %li
                  %img{:alt => "", :src => "images/9.jpg"}/
                %li
                  %img{:alt => "", :src => "images/10.jpg"}/
            #carousel.flexslider
              %ul.slides
                %li
                  %img{:alt => "", :src => "images/5.jpg"}/
                %li
                  %img{:alt => "", :src => "images/6.jpg"}/
                %li
                  %img{:alt => "", :src => "images/7.jpg"}/
                %li
                  %img{:alt => "", :src => "images/8.jpg"}/
                %li
                  %img{:alt => "", :src => "images/9.jpg"}/
                %li
                  %img{:alt => "", :src => "images/10.jpg"}/
                %li
                  %img{:alt => "", :src => "images/5.jpg"}/
                %li
                  %img{:alt => "", :src => "images/6.jpg"}/
                %li
                  %img{:alt => "", :src => "images/7.jpg"}/
                %li
                  %img{:alt => "", :src => "images/8.jpg"}/
                %li
                  %img{:alt => "", :src => "images/9.jpg"}/
                %li
                  %img{:alt => "", :src => "images/10.jpg"}/
      .col-md-6.w3-about-left
        %h2 Why Choose Us ?
        %h5 Vivamus facilisis dolor ac sapien pharetra
        %p
          orem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nisl nunc, feugiat a nulla euismod, porta vehicula nisi. Praesent molestie, elit at mattis euismod, risus augue lacinia sem, vel elementum dui sem eu nisi. Morbi eu condimentum nibh. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
          %span Donec leo orci, tempus ac porta sit amet, pulvinar ac ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque in mauris vel lectus aliquet imperdiet at in metus. Sed tristique, ante quis varius rhoncus, turpis nisl suscipit neque, id sollicitudin tellus purus a augue. Integer urna ex, vehicula eget tincidunt et, scelerisque non massa. Nulla convallis sodales diam, non laoreet purus.
        .w3l-button
          %a{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"} More
      .clearfix
      / //about
