/ blog
#blog.blog
  .container
    .agileits-blog-grids
      .wthree-heading
        %h3 Latest Blog Posts
        %h5 Vivamus facilisis dolor ac sapien pharetra
    .posts-grids
      .col-sm-4.w3-agile-post-grids
        .w3-agile-post-img
          %a{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"}
            %ul
              %li
                %i.fa.fa-comments{"aria-hidden" => "true"}
                14
              %li
                %i.fa.fa-heart{"aria-hidden" => "true"}
                240
              %li
                %i.fa.fa-share{"aria-hidden" => "true"}
                Share
        .w3-agile-post-info
          %h4
            %a{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"} Quisque a rhoncus
          %ul
            %li
              By
              %a{:href => "#"} Admin
            %li Dec 03rd,2016
          %p Suspendisse in nisl at ipsum molestie dignissim. Pellentesque est nisi, blandit eget aliquam sed, consequat nec risus.
      .col-sm-4.w3-agile-post-grids
        .w3-agile-post-img.w3-agile-post-img1
          %a{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"}
            %ul
              %li
                %i.fa.fa-comments{"aria-hidden" => "true"}
                05
              %li
                %i.fa.fa-heart{"aria-hidden" => "true"}
                874
              %li
                %i.fa.fa-share{"aria-hidden" => "true"}
                Share
        .w3-agile-post-info
          %h4
            %a{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"} Quisque a rhoncus
          %ul
            %li
              By
              %a{:href => "#"} Admin
            %li Dec 14th,2016
          %p Suspendisse in nisl at ipsum molestie dignissim. Pellentesque est nisi, blandit eget aliquam sed, consequat nec risus.
      .col-sm-4.w3-agile-post-grids
        .w3-agile-post-img.w3-agile-post-img2
          %a{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"}
            %ul
              %li
                %i.fa.fa-comments{"aria-hidden" => "true"}
                21
              %li
                %i.fa.fa-heart{"aria-hidden" => "true"}
                287
              %li
                %i.fa.fa-share{"aria-hidden" => "true"}
                Share
        .w3-agile-post-info
          %h4
            %a{"data-target" => "#myModal", "data-toggle" => "modal", :href => "#"} Quisque a rhoncus
          %ul
            %li
              By
              %a{:href => "#"} Admin
            %li Nov 24th,2016
          %p Suspendisse in nisl at ipsum molestie dignissim. Pellentesque est nisi, blandit eget aliquam sed, consequat nec risus.
      .clearfix
      / //blog
