/ services
#services.services
  .container
    .wthree-heading
      %h3 Services Overview
      %h5 Vivamus facilisis dolor ac sapien pharetra
    .agile-services-grids
      .col-md-4.agile-services-grid
        %img{:alt => "", :src => "images/11.jpg"}/
        %h6 Proin blandit
        %p Nam sit amet odio malesuada, ullamcorper arcu vel, pharetra lorem. Fusce id auctor nulla.
        %ul
          %li
            %span.glyphicon.glyphicon-share-alt
            Duis aute irure dolor in reprehenderit voluptate
          %li
            %span.glyphicon.glyphicon-share-alt
            Excepteur sint occaecat cupidatat non proident
          %li
            %span.glyphicon.glyphicon-share-alt
            Sunt in culpa qui officia deserunt mollit
          %li
            %span.glyphicon.glyphicon-share-alt
            Duis aute irure dolor in reprehenderit voluptate
          %li
            %span.glyphicon.glyphicon-share-alt
            Excepteur sint occaecat cupidatat non proident
      .col-md-4.agile-services-grid
        %img{:alt => "", :src => "images/12.jpg"}/
        %h6 Nullam tempor
        %p Nam sit amet odio malesuada, ullamcorper arcu vel, pharetra lorem. Fusce id auctor nulla.
        %ul
          %li
            %span.glyphicon.glyphicon-share-alt
            Duis aute irure dolor in reprehenderit voluptate
          %li
            %span.glyphicon.glyphicon-share-alt
            Excepteur sint occaecat cupidatat non proident
          %li
            %span.glyphicon.glyphicon-share-alt
            Sunt in culpa qui officia deserunt mollit
          %li
            %span.glyphicon.glyphicon-share-alt
            Duis aute irure dolor in reprehenderit voluptate
          %li
            %span.glyphicon.glyphicon-share-alt
            Excepteur sint occaecat cupidatat non proident
      .col-md-4.agile-services-grid
        %img{:alt => "", :src => "images/13.jpg"}/
        %h6 Etiam tristique
        %p Nam sit amet odio malesuada, ullamcorper arcu vel, pharetra lorem. Fusce id auctor nulla.
        %ul
          %li
            %span.glyphicon.glyphicon-share-alt
            Duis aute irure dolor in reprehenderit voluptate
          %li
            %span.glyphicon.glyphicon-share-alt
            Excepteur sint occaecat cupidatat non proident
          %li
            %span.glyphicon.glyphicon-share-alt
            Sunt in culpa qui officia deserunt mollit
          %li
            %span.glyphicon.glyphicon-share-alt
            Duis aute irure dolor in reprehenderit voluptate
          %li
            %span.glyphicon.glyphicon-share-alt
            Excepteur sint occaecat cupidatat non proident
      .clearfix
      / //services
