/ contact
#mail.contact
  .container
    .wthree-heading
      %h3 Get In Touch
      %h5 Vivamus facilisis dolor ac sapien pharetra
    .agile-contact-form
      .col-md-6.contact-form-left
        .w3layouts-contact-form-top
          %h3 Get in touch
          %p Pellentesque eget mi nec est tincidunt accumsan. Proin fermentum dignissim justo, vel euismod justo sodales vel. In non condimentum mauris. Maecenas condimentum interdum lacus, ac varius nisl dignissim ac. Vestibulum euismod est risus, quis convallis nisi tincidunt eget. Sed ultricies congue lacus at fringilla.
        .agileits-contact-address
          %ul
            %li
              %i.fa.fa-phone{"aria-hidden" => "true"}
              %span +1 234 567 8901
            %li
              %i.fa.fa-phone.fa-envelope{"aria-hidden" => "true"}
              %span
                %a{:href => "mailto:example@email.com"} mail@example.com
            %li
              %i.fa.fa-map-marker{"aria-hidden" => "true"}
              %span Eiusmod Tempor inclore Place,Kingsport 56777.
      .col-md-6.contact-form-right
        .contact-form-top
          %h3 Send us a message
        .agileinfo-contact-form-grid
          %form{:action => "#", :method => "post"}
            %input{:name => "Name", :placeholder => "Name", :required => "", :type => "text"}/
            %input{:name => "Email", :placeholder => "Email", :required => "", :type => "email"}/
            %input{:name => "Telephone", :placeholder => "Telephone", :required => "", :type => "text"}/
            %textarea{:name => "Message", :placeholder => "Message", :required => ""}
            %button.btn1 Submit
      .clearfix
    .w3agile-map
      %h3 Find us here
      %iframe{:allowfullscreen => "", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d102623.04862310845!2d-82.59779327009554!3d36.506579763153326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885a856b70074b97%3A0x6f9cc0d30bcc841f!2sKingsport%2C+TN%2C+USA!5e0!3m2!1sen!2sin!4v1471495038514"}
/ //contact
/ copyright
%footer
  .container
    .copyright
      %p
        © 2017 Bank Online. All rights reserved | Design by
        %a{:href => "http://w3layouts.com"} W3layouts
        / //copyright
