/ markets
#markets.markets
  .container
    .wthree-heading
      %h3 Trading Options
      %h5 Vivamus facilisis dolor ac sapien pharetra
    .markets-grids
      .col-md-4.w3ls-markets-grid
        .agileits-icon-grid
          .icon-left
            %i.fa.fa-bar-chart{"aria-hidden" => "true"}
          .icon-right
            %h5 Suspendisse
            %p Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus ullamcorper, nec interdum neque hendrerit.
          .clearfix
      .col-md-4.w3ls-markets-grid
        .agileits-icon-grid
          .icon-left
            %i.fa.fa-line-chart{"aria-hidden" => "true"}
          .icon-right
            %h5 Aliquam
            %p Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus ullamcorper, nec interdum neque hendrerit.
          .clearfix
      .col-md-4.w3ls-markets-grid
        .agileits-icon-grid
          .icon-left
            %i.fa.fa-area-chart{"aria-hidden" => "true"}
          .icon-right
            %h5 Consectetur
            %p Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus ullamcorper, nec interdum neque hendrerit.
          .clearfix
      .col-md-4.w3ls-markets-grid
        .agileits-icon-grid
          .icon-left
            %i.fa.fa-signal{"aria-hidden" => "true"}
          .icon-right
            %h5 Bibendum
            %p Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus ullamcorper, nec interdum neque hendrerit.
          .clearfix
      .col-md-4.w3ls-markets-grid
        .agileits-icon-grid
          .icon-left
            %i.fa.fa-money{"aria-hidden" => "true"}
          .icon-right
            %h5 Vestibulum
            %p Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus ullamcorper, nec interdum neque hendrerit.
          .clearfix
      .col-md-4.w3ls-markets-grid
        .agileits-icon-grid
          .icon-left
            %i.fa.fa-briefcase{"aria-hidden" => "true"}
          .icon-right
            %h5 Fermentum
            %p Phasellus dapibus felis elit, sed accumsan arcu gravida vitae. Nullam aliquam erat at lectus ullamcorper, nec interdum neque hendrerit.
          .clearfix
      .clearfix
      / //markets
