=render("home/banner-top")
=render("home/menu-top")
=render("home/modal")
=render("home/about")
=render("home/tradings")
=render("home/services")
=render("home/testimonial")
=render("home/lastestblog")
=render("home/totalfooter")